



 <div class="container-fluid" style="margin-top: 100px">
  <button type="button" id="buttonalign" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">AddNewContent</button>
  <div class="row">
 <div class="card" *ngFor="let list of listdata" >
  <img class="card-img-top" src="{{list.promoimg}}" alt="Card image" id="cardimg">
  <div class="card-body">
    <h4 class="card-title">{{list.title}}</h4>
     <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
    <i class="fa fa-pencil"  id ="edit" aria-hidden="true" (click)="edit()" data-toggle="modal" data-target="#myModal1"></i>
    <i class="fa fa-eye" aria-hidden="true" (click)="edit()"></i>
    <i class="fa fa-trash" aria-hidden="true" (click)="deleteitem(list.id)"></i>
  </div>
</div>
</div>
</div>


<pagination-controls (pageChange)="p = $event"></pagination-controls>

<!-- for model -->


<div class="modal" id="myModal" class="modal fade">
  <div class="modal-dialog model-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header" >
        <h4 class="modal-title"></h4>
        <h5>Articles</h5>
        <button type="button" class="close"  data-dismiss="modal" >&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

<!-- form starting code  -->
<div class="container">
  <!-- <h5>Articles</h5> -->
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">


      <div class="sample">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label for="Heading">Title:</label>
          <textarea type="text"  id="Heading"   class="form-control form-rounded" name="Heading" (change)="Title($event)"></textarea><br>
          <label for="image">ThumbnailImage:  </label>
          <input id="cin" name="file" type="file" (change)="thumbnail($event)" placeholder="Upload a file..." multiple/><br>
          <h6>Body:</h6>
          <!-- <textarea [froalaEditor] formControlName="formModel" name="form" id="form"></textarea><br> -->
          <textarea type="text"  id="Body"   class="form-control form-rounded" name="Body" (change)="Body($event)"></textarea><br>
            <div class="form-group">
              <label for="sel1">ContentType:</label>
              <select class="form-control" id="sel1" (change)="contentType($event)">
                <option>News</option>
                <option>Article</option>
                <option>Promotion</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sel1">Language:</label>
                <select class="form-control" id="sel1" (change)="language($event)" >
                  <option>Choose One</option>
                  <option>English</option>
                  <option>Telugu</option>
                </select>
            </div>


            <button type="button" id="buttonalign" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalpage2">page2</button>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      </div>
  </div>
</div>


<!-- form ending code -->

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

        <button type="button" class="btn btn-danger" id="close"  data-dismiss="modal">Close</button>

      </div>


    </div>
  </div>
</div>


<!-- for page2 model -->





<div class="modal" id="myModal1" class="modal fade">
  <div class="modal-dialog model-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header" >
        <h4 class="modal-title"></h4>
        <h5>Articlespage2</h5>
        <button type="button" class="close"  data-dismiss="modal" >&times;</button>
      </div>
      <!-- Modal body -->
       <div class="modal-body">
<!-- form starting code  -->
<div class="container">
  <!-- <h5>Articlespage2</h5> -->
  <div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
      <div class="sample">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <label for="Heading">Title:</label>
          <textarea type="text"  id="Heading"   class="form-control form-rounded" name="Heading" (change)="Title($event)"></textarea><br>
          <label for="image">ThumbnailImage:  </label>
          <input id="cin" name="file" type="file" (change)="thumbnail($event)" placeholder="Upload a file..." multiple/><br>
          <h6>Body:</h6>
          <!-- <textarea [froalaEditor] formControlName="formModel" name="form" id="form"></textarea><br> -->
          <textarea type="text"  id="Body"   class="form-control form-rounded" name="Body" (change)="Body($event)"></textarea><br>
            <div class="form-group">
              <label for="sel1">ContentType:</label>
              <select class="form-control" id="sel1" (change)="contentType($event)">
                <option>News</option>
                <option>Article</option>
                <option>Promotion</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sel1">Language:</label>
                <select class="form-control" id="sel1" (change)="language($event)" >
                  <option>Choose One</option>
                  <option>English</option>
                  <option>Telugu</option>
                </select>
            </div>
            <button type="button" id="buttonalign" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModalpage2">page2</button>

          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
      </div>
  </div>
</div>
<!-- form ending code -->
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="close"  data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

