<app-navigation></app-navigation>
<router-outlet></router-outlet>
<!-- <form  >

    <label for="image">Image:  </label><br>
    <input id="cin" name="file" type="file" (change)="fileChangeEvent($event)"  [(ngModel)]="app.img" placeholder="Upload a file..." multiple/>
    <label for="Heading">Heading:</label>
    <textarea type="text"  id="Heading" (change)="fileChangeEvent1($event)" [(ngModel)]="app.heading" name="Heading"></textarea><br>

      <button type="button" class="btn btn-success btn-s" (click)="onSubmit()">
      Upload
      </button><br>
</form> -->


