<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-light" id="main-nav">
  <div class="container">
  <ul class="navbar-nav">
   <img src="https://www.cinema143.com/sites/default/files/cinema143_logo.jpg" height="60" alt="Kivar Technologies">
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']"> ADVERTISEMENTS</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/promo']">POSTERS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/gallery']">GALLERY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Articles']">ARTICLE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Videos']">VIEDOS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/posters']">view posters</a>
    </li>
  </ul>
  </div>
</nav>



